bertopic==0.17.3
demoji==1.1.0
gensim==4.3.3
hdbscan==0.8.40
huggingface_hub==0.33.4
matplotlib==3.10.3
ner==0.1
nltk==3.2.4
numpy
pandas==2.3.1
Requests==2.32.4
scikit_learn==1.7.0
sentence_transformers==5.0.0
stanza==1.10.1
torch==2.7.1
tqdm==4.67.1
transformers==4.53.2
twarc==2.14.0
umap==0.1.1
wordcloud==1.9.4
